03 Cloud Data Warehouses/04 AWS Data Warehouse technologies/04aws_datawarehousetech_jupyternbz/customer_reviews_1999.csv
customer_reviews_1999.csv
03 Cloud Data Warehouses/04 AWS Data Warehouse technologies/04aws_datawarehousetech_jupyternbz/dwh.cfg
03 Cloud Data Warehouses/04 AWS Data Warehouse technologies/aws_sample_keys
03 Cloud Data Warehouses\04 AWS Data Warehouse technologies\04aws_datawarehousetech_jupyternbz\l3e4_accessKeys.csv